In [1]:
import pandas as pd

In [2]:
S=pd.Series([1,2,34])

In [3]:
S

0     1
1     2
2    34
dtype: int64

In [4]:
S.shape

(3,)

In [5]:
df=pd.DataFrame({"name":["Ganesh","Akash"],"Age":[20,21],"mail":["ganesh@gmail.com","akash@gmail.com"]})

In [7]:
df.index=[1,2]

In [8]:
df

     name  Age              mail
1  Ganesh   20  ganesh@gmail.com
2   Akash   21   akash@gmail.com

In [10]:
df.columns

Index(['name', 'Age', 'mail'], dtype='object')

In [11]:
df.iloc[1,2]

'akash@gmail.com'

In [12]:
df.loc[2,"mail"]

'akash@gmail.com'

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 1 to 2
Data columns (total 3 columns):
name    2 non-null object
Age     2 non-null int64
mail    2 non-null object
dtypes: int64(1), object(2)
memory usage: 144.0+ bytes

In [14]:
df["Age"].sum()

41

In [15]:
df["lastname"]=["Akash","Ganesh"]

In [16]:
df

     name  Age              mail lastname
1  Ganesh   20  ganesh@gmail.com    Akash
2   Akash   21   akash@gmail.com   Ganesh

In [17]:
df["mail"]=df["name"]+df["lastname"]+"@gmail.com"

In [18]:
df

     name  Age                   mail lastname
1  Ganesh   20  GaneshAkash@gmail.com    Akash
2   Akash   21  AkashGanesh@gmail.com   Ganesh

In [20]:
df["mail"]=[str(i).lower() for i in df["mail"]]